h2.intro {
  text-align: center;
}

img.intro {
  width: 100%;
}

.important {
  font-style: italic;
  color: grey;
}

.boring {
    font-size: 20px;
}

/*==========================================================
Media Queries
==========================================================*/

@media screen and (max-width: 768px) and (min-width: 481px) {
  body {
  background: #FF6347;
  color: #FFF;
  }
}

@media screen and (max-width: 480 px) {
  body {
    background: #4682B4;
  }
}
